<div class="main-content">
<h1>Welcome to YouSchool</h1>

<div class="flash-messages">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %><br>
</div>

<h3>Newsfeed</h3>

<h3>Comment Feed</h3>
	<div class="all-comments-container">
		<% @comments.each do |comment| %>
			<div class="each-comment-container">
				<p><%= comment.content %> - <small><b><%= comment.user_name %></b></small></p>
			</div>
			<% if logged_in? %>
				<% if comment.user_id == current_user.id %>
					<small><a href="/comments/<%= comment.id %>/edit">Edit Comment</a></small>
				<% end %>
			<% end %>
		<% end %>
		<% if logged_in? %>
		<form method="post" action="/comments/new">
			<label>Post a comment</label>
			<textarea name="content"></textarea>
			<input type="submit" value="Post">
		</form>
		<% end %>
	</div>
