<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
	<title>Sinatra Project</title>
</head>
<body>
	<div name="session-links">
		<a href="/logout">Log Out</a>
	</div>
	<%= yield %>
	
</body>
</html>