<h1>Sign Up</h1>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<form method="post", action="/signup">
	<label>Username: </label>
	<input type="text" name="username"><br>
	<label>Email: </label>
	<input type="email" name="email"><br>
	<label>Password: </label>
	<input type="password" name="password"><br>
	<input type="submit" value="Sign Up">
</form>
