<h1>Sign Up</h1>

<form method="post", action="/signup">
	<label>Username: </label>
	<input type="text" name="username"><br>
	<label>Email: </label>
	<input type="email" name="email"><br>
	<label>Password: </label>
	<input type="password" name="password"><br>
	<!-- <label>Password Confirmation: </label>
	<input type="password" name="password_confirm"><br> -->
	<input type="submit" value="Sign Up">
</form>
