<h1>Student Sign Up</h1>

<form method="post", action="/student_signup">
	<label>First Name: </label>
	<input type="text" name="first_name"><br>
	<label>Last Name: </label>
	<input type="text" name="last_name"><br>
	<label>Email: </label>
	<input type="email" name="email"><br>
	<label>Grade: </label>
	<input type="text" name="grade"><br>
	<label>Password: </label>
	<input type="password" name="password"><br>
	<!-- <label>Password Confirmation: </label>
	<input type="password" name="password_confirm"><br> -->
	<input type="submit" value="Sign Up">
</form>

